@font-face {
	font-family: SourceSansPro;
	src: url(./fonts/SourceSansPro-Regular.ttf);
}

body {
	font-family:SourceSansPro;
}

#blocklyArea{
	display: flex;
	justify-content: space-between;
}

#blockly-wrapper{
	display: inline-block;
	width:67%;
}

#code{
	float: right;
	display: inline-block;
	z-index: 1000;
	background: white;
	height: 600px;
	width: 33%;
	background: #f3f3f3;
	padding: 20px;
}
.element-block{
	padding: 5px;
	border: 1px solid #00000033;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.v-menu__content{

	z-index:10000 !important;
}