@font-face {
	font-family: SourceSansPro;
	src: url(./fonts/SourceSansPro-Regular.ttf);
}

body {
	font-family:SourceSansPro;
}

#blocklyArea{
	display: flex;
	justify-content: space-between;
}

#blockly-wrapper{
	display: inline-block;
	width:67%;
}

#code{
	float: right;
	display: inline-block;
	z-index: 1000;
	background: white;
	height: 600px;
	width: 33%;
	background: #f3f3f3;
	padding: 20px;
}